HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
# Ignore JWT secrets
/src/main/resources/secret.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/resources/local-secret.properties
/htmlReport/
.env
/.env
docs/conroller/01-auth-controller.md
.gitignore
docs/conroller/03-attempt-controller.md
docs/conroller/04-question-controller.md
docs/conroller/05-document-controller.md
.gitignore
docs/conroller/07-tag-controller.md
docs/conroller/08-admin-controller.md
/docs/conroller/02-quiz-controller.md
/docs/conroller/06-category-controller.md
/uploads/documents
/docs/API
